<div>
    <table>
        <caption style="font-size: xx-large;">Persons</caption>
        <th id="1">
            <tr>
                <td>
                    <h1>Name</h1>
                </td>
                <td>
                    <h1>Age</h1>
                </td>
                <td>
                    <h1>Developer?</h1>
                </td>
            </tr>
        </th>
        <tbody>
            {{range .}}
            <tr>
                <td>
                    <h3>{{.Name}}</h3>
                </td>
                <td>
                    <h3>{{.Age}}</h3>
                </td>
                <td>
                    <h3>{{.Developer}}</h3>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>